<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Hopitaux de France</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/hopitauxDeFrance">Accueil <span class="sr-only">(current)</span></a>
        </li>
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Listes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://localhost:4200/hopital">Hopitaux</a>
            <a class="dropdown-item" href="http://localhost:4200/medecin">Medecins</a>
            <a class="dropdown-item" href="http://localhost:4200/patient">Patients</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ajouter
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="http://localhost:4200/hopital/add">Hopital</a>
            <a class="dropdown-item" href="http://localhost:4200/medecin/add">Medecin</a>
            <a class="dropdown-item" href="http://localhost:4200/patient/add">Patient</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Modifier
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="http://localhost:4200/hopital/update">Hopital</a>
            <a class="dropdown-item" href="http://localhost:4200/medecin/update">Medecin</a>
            <a class="dropdown-item" href="http://localhost:4200/patient/update">Patient</a>
            </div>
          </li>
      </ul>
      
    </div>
  </nav>
