
<div class="container">
    <form >
        <h1>Modifier un patient:</h1>
        <div class="form-group">
            <label for="patient">Patient:</label><br>
            <select name="patient" class="form-control" id="patient" [(ngModel)]="newPatient">
                <option *ngFor="let unPatient of listPatients" [ngValue]="unPatient"> {{unPatient.nomPatient}} {{unPatient.prenomPatient}} </option>
            </select>
        <label>Nom</label><br>
        <input type="text" name="nomPatient" class="form-control" id="nomPatient" [(ngModel)]="newPatient.nomPatient"><br>
        <label>Prénom</label><br>
        <input type="text" name="prenomPatient" class="form-control" id="prenomPatient" [(ngModel)]="newPatient.prenomPatient"><br>
        <label>Maladie</label><br>
        <input type="text" name="capacite" class="form-control" id="maladie" [(ngModel)]="newPatient.maladie"><br>
        <label for="medecin">Médecin:</label><br>
                <select name="medecin" class="form-control" id="medecin" [(ngModel)]="newPatient.medecin">
                    <option *ngFor="let unMedecin of listMedecins" [ngValue]="unMedecin"> {{unMedecin.specialite}}: {{unMedecin.prenomMedecin}} {{unMedecin.nomMedecin}} </option>
                </select>
        <input type="submit" value="Modifier" class="btn btn-dark" (click)="updatePatient(newPatient.idPatient, newPatient)">
    </div>
    </form>
    </div>
    
